/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: Nunito, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #ebe0e0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.header img {
  height: 60px;
  margin: 0 0 0 15px;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0 15px 0 0;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.menu a:hover {
  color: red;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner h1 {
  font-size: 40px;
  padding: 20px 0;
}

.banner img {
  height: calc(100vh - 150px);
  width: 100%;
  max-width: 1300px;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  padding: 80px 10px;
}

.sobre h2 {
  font-size: 30px;
  padding: 20px;
}

.sobre p {
  font-size: 18px;
  text-align: justify;
  max-width: 1200px;
}

.sobre img {
  height: 300px;
  padding: 50px;
}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  padding: 80px 10px;
}

.produtos h2 {
  font-size: 30px;
  padding: 20px;
}

.produtos p {
  font-size: 18px;
  text-align: justify;
  max-width: 1200px;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 750px;
}

.produtos-grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
